@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

// font-family: 'Mate SC', serif;
// font-family: 'Cinzel', serif;
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Dosis', sans-serif;

//fonts
$main-font: 'Montserrat Alternates', sans-serif;
$header-font: 'Mate SC', serif;
$secondary-font: 'Dosis', sans-serif;


//colors
$main-color: #2E4F4F;
$secondary-color: #CBE4DE;
$third-color: #2C3333;

//topography & sizes
$header-size: 40px;
$primary-size: 20px;
$secondary-size: 14px;
$third-size: 10px;

$main-margin: 20px;
$main-padding: 15px;

$border-radius: 10px;