/* Notesinput */
.title-input{
    border: 1px solid #CBE4DE;
    color: #CBE4DE;
    padding: 10px;
    border-radius:15px;
    background: none;
    width: 100%;
}
.textarea {
    border: 1px solid #CBE4DE;
    color: #CBE4DE;
    padding: 10px;
    border-radius:15px ;
    background: none;
    width: 100%;
}
.notes-btn{
    border: 1px solid #CBE4DE;
    color: #CBE4DE;
    border-radius: 15px;
    padding: 10px;
    background: none;
    transition: 0.6s ease;

    &:hover{
        border: 1px solid #0E8388;
        color: #0E8388;
    }
}

.main-footer{
    position: fixed;
  width: 100%;
  bottom: 0;
    height: 10vh;
    background-color: #2E4F4F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: #CBE4DE;

    & a {
        text-decoration: none;
        color: #CBE4DE;
    }
}