@import '../assets/variables.scss';

.main-div{
    height: 90vh;
    background-image: url('../images/2img.jpg');
    background-size: cover;
    background-position: center;

        /* Overlay styles */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(22, 22, 22, 0.87); /* Adjust the overlay color and opacity */
    }

    .landpage-content{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-center{
            z-index: 9;

            h1 {
                font-family: $header-font;
                color: $secondary-color;
                font-size: $header-size;
            }
            p {
                font-family: $main-font;
                color: $secondary-color;
            }
        }
    }
}




// signup styling
.signup-header{
    font-family: $header-font;
    font-size: $header-size;
    color: $main-color;
}

.form-input{
    padding: 10px;
    border: 1px solid $main-color;
    border-radius: $border-radius;
    color: $main-color;
}


// login styles
.loading{
    margin: $main-margin;
}

.about-page{
    background: $third-color;
    height: 90vh;

    .about-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            color: $secondary-color;
            width: 50%;
        }
    }
}