

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  box-sizing: border-box;
}


